[package]
name = "tremor-language-server"
version = "0.9.1"
description = "Tremor Language Server (Trill)"
authors = ["The Tremor Team"]
edition = "2018"
license = "Apache-2.0"

[build-dependencies]
bincode = "1.3"
glob = "0.3"
home = "0.5"
regex = "1.4"
walkdir = "2.3"

# for downloading and extracting tremor-script crate (when we can't read
# it from the local cargo registry), in order to access the tremor script
# stdlib documentation
futures = "0.3.6"
tokio = "0.3.22"
tar = "0.4"
flate2 = "1.0"
reqwest = "0.10"

# tremor deps
tremor-script = "0.9.0"

# use non-simd fallback with simd-json so that we can install tremor-language-server
# without needing to configure cpu target for simd-json compilation
# https://github.com/simd-lite/simd-json#cpu-target
#
# this is fine for language server use since we don't care as much for json
# processing performance here (easy installation is more important for users)
simd-json = { version = "0.3", features = ["allow-non-simd"] }

[dependencies]

bincode = "1.3"
clap = "2.33"

halfbrown = "0.1"
serde_json = "1.0.59"
tokio = { version = "0.2", features = ["io-std", "macros", "sync"] }
tower-lsp = "0.13"

# tremor deps
tremor-script = "0.9.0"
