[package]
name = "tremor-language-server"
version = "0.7.4"
description = "Tremor Language Server (Trill)"
authors = ["The Tremor Team"]
edition = "2018"
license = "Apache-2.0"

[build-dependencies]
bincode = "1.2.1"
regex = "1.3"
#tremor-script = { "path" = "../tremor-runtime/tremor-script" } # for local use
tremor-script = "0.7"

[dependencies]

bincode = "1.2.1"
clap = "2.33.0"

halfbrown = "0.1"
jsonrpc-core = "14.1"
serde_json = "1.0.51"
simd-json = { version = "0.3", features = ["allow-non-simd"] }
tokio = { version = "0.2", features = ["io-std", "macros", "sync"] }
tower-lsp = "0.10"

# tremor deps
tremor-script = "0.8"

#[patch.crates-io]
#tremor-script = { "path" = "../tremor-runtime/tremor-script" }
